<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Content Module</title>
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>
  <body>
    <header>
      <!-- Any image in the /static file path should be handled by the static_contents module -->
      <!-- Images do not have to be in the images folder -->
      <img src="/static/icons/hawk.png" alt=""><h1>Gallery</h1>
      <a href="/">Home</a>
      <a href="/new">New</a>
      <a href="/show">Show</a>
      <a href="/edit">Edit</a>
      <a href="/gallery">Gallery</a>
    </header>
    <main>
      <img src="/static/images/fox.jpg" alt="">
      <img src="/static/images/lions.jpg" alt="">
      <img src="/static/images/peacock.jpg" alt="">
      <img src="/static/images/elk.png" alt="">
      <img src="/static/images/tiger.gif" alt="">
    </main>
  </body>
</html>
